@import "../../../../../styles/variables/variables";
@import "../../../../../styles/mixins/mixins";

.sort-card-select {
  height: 307px;
  overflow: hidden;

  .image-wrapper {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .overlay-wrapper {
    cursor: pointer;
    width: 100%;
    padding-top: 100%;
    text-align: center;;
    transform: translateY(-100%);
    @include transition(background-color, 0.3s, ease-in-out);
    .sort-title {
      display: block;
      position: relative;
      bottom: 100px;
      font-size: 50px;
      font-weight: bold;
      text-shadow: 0 2px 4px rgba(0,0,0,0.5);
      color: white;
    }
  }

  &.active {
    .overlay-wrapper {
      background-color: $color-card-active-overlay;

      &:hover {
        background-color: $color-card-active-overlay-hover;
      }
    }
  }

  &:hover {
    .overlay-wrapper {
      background-color: $color-card-hover-overlay;
    }
  }
}
