<div class="row introduction-speech-wrapper">
    <div class="col-12 col-sm-6 col-md-4 image-wrapper">
        <img src="../../../../../assets/illustration/tea-finder/tea-finder-illustration.svg">
    </div>
    <div class="col-12 col-sm-6 col-md-8 typed-wrapper">
        <div class="typed">

        </div>
        <div id="typed-strings">
            <p>
                Hello, I'm the tea-finder,<br>
                I'll help you finding the right tea!
            </p>
            <p>
                First, let's start with the controls:<br>
                We have 6 steps for finding your tea. In every step you can choose between certain possibilities
                and can submit or skip the step if you are ready.<br>
                You can also always cancel the search.
            </p>
            <p>
                Hello, I'm the tea-finder,<br>
                I'll help you finding the right tea!
            </p>
            <p>
                First, let's start with the controls:<br>
                We have 6 steps for finding your tea. In every step you can choose between certain possibilities
                and can submit or skip the step if you are ready.<br>
                You can also always cancel the search.
            </p>
            <p>
                Hello, I'm the tea-finder,<br>
                I'll help you finding the right tea!
            </p>
            <p>
                First, let's start with the controls:<br>
                We have 6 steps for finding your tea. In every step you can choose between certain possibilities
                and can submit or skip the step if you are ready.<br>
                You can also always cancel the search.
            </p>
        </div>
    </div>
</div>
