<div class="row introduction-speech-wrapper">
  <div class="col-12 col-sm-6 col-md-4 image-wrapper">
    <img src="../../../../../assets/illustration/tea-finder/tea-finder-illustration.svg">
  </div>
  <div class="col-12 col-sm-6 col-md-8 typed-wrapper">
    <div class="typed">
    </div>
    <div id="typed-string">
      <p>
        Hello, I'm the tea-finder,<br>
        I'll help yout finding the right tea!
      </p>
      <p>
        First, let's start with the controls
      </p>
    </div>
  </div>
</div>
