$color-primary-green: #0fff9d;
$color-primary-green-light: #7affc9;
$color-primary-green-dark: #00f28f;
$color-primary-green-very-dark: #00c171;
$color-accent: #252625;
$color-accent-light: #595b5b;
$color-accent-very-light: #757777;
$color-accent-dark: #111;
$color-light-grey: #ccc;
$color-white: #fff;
$color-black: #000;

$color-shadow-light: rgba(0, 0, 0, 0.1);
$color-shadow-mid: rgba(0, 0, 0, 0.2);
$color-shadow-dark: rgba(0, 0, 0, 0.3);
